.movieCard{
    list-style: none;
    font-size: 1rem;
    text-align: center;
    transition: all 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.224);
    border-radius: 0.4rem 0.4rem 2rem 2rem;
    box-shadow: rgba(131, 153, 51, 0.466) 2px 2px;
    padding: 0.5rem;
}
.movieCard:hover{
    box-shadow:rgba(227, 201, 99, 0.801) 10px 10px;

}
.moviePoster{
    width: 100%;
    border-radius: 0.5rem 0.5rem 2rem 2rem;
    transition: all 0.5s ease-in-out;
}
.moviePoster:hover{
    width: 100%;
    opacity: 0.8;
    transform: translateY(3px) translateX(-2px);
    transition: all 0.5s ease-in-out;
}
.moviesTitles{
    margin-top: 4px;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color:rgb(232, 205, 95);
}